[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
[submodule "tools/markitdown"]
	path = tools/markitdown
	url = https://github.com/microsoft/MarkItDown.git
[submodule "skills/obsidian-skills"]
	path = skills/obsidian-skills
	url = https://github.com/kepano/obsidian-skills.git
